.tag {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    min-width: 80px;
    height: 22px;
    margin-right: 8px;
    border: 1px solid var(--divider);

    &-content {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 0 8px;
        white-space: nowrap;
        color: var(--text-primary);
        font-size: 12px;
    }

    &-close {
        position: relative;
        width: 30px;
        height: 20px;
        opacity: 0.8;
        cursor: pointer;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 20%;
            width: 12px;
            height: 1.5px;
            background-color: var(--text-primary);
            transform: rotate(135deg);
        }
        &::before {
            transform: rotate(45deg);
        }
    }
}

.tag-hidden {
    min-width: 0 !important;
    width: 0 !important;
    margin: 0;
    border: 0;
    transition: 250ms;
}
