.tabs {
    position: relative;
    &-nav {
        left: 0;
        display: flex;
        align-items: center;
        width: 50px;
        min-width: 100%;
        max-width: 100%;
        height: 48px;
        border-bottom: 3px solid var(--overlay-8);

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 80px;
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            top: 48px;
            left: inherit;
            width: inherit;
            height: 3px;
            background-color: var(--background-contrast);
            transition: 450ms;
        }
    }

    &-full-width {
        width: 100%;
        .tabs-nav {
            .tabs-nav-item {
                flex-grow: 1;
            }
        }
    }
    &-bordered {
        border: 1px solid var(--divider);
    }

    &-content {
        min-height: 100px;
        padding: 8px;
    }
}
