.rcat-background-default {
    background: #fff;
}
.rcat-background-contrast {
    background: #000;
}

.rcat-overlay-1 {
    background-color: rgba(0, 0, 0, 0.05);
}
.rcat-overlay-2 {
    background-color: rgba(0, 0, 0, 0.07);
}
.rcat-overlay-3 {
    background-color: rgba(0, 0, 0, 0.08);
}
.rcat-overlay-4 {
    background-color: rgba(0, 0, 0, 0.09);
}
.rcat-overlay-6 {
    background-color: rgba(0, 0, 0, 0.11);
}
.rcat-overlay-8 {
    background-color: rgba(0, 0, 0, 0.12);
}
.rcat-overlay-12 {
    background-color: rgba(0, 0, 0, 0.14);
}
.rcat-overlay-16 {
    background-color: rgba(0, 0, 0, 0.15);
}
.rcat-overlay-14 {
    background-color: rgba(0, 0, 0, 0.16);
}

.rcat-divider {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.rcat-action-hover {
    background: rgba(0, 0, 0, 0.08);
}
.rcat-action-active {
    background: rgba(0, 0, 0, 0.16);
}
.rcat-action-focus {
    background: rgba(0, 0, 0, 0.12);
}
.rcat-action-select {
    background: rgba(0, 0, 0, 0.16);
}
.rcat-action-disabled {
    background: rgba(0, 0, 0, 0.3);
}

.rcat-text-default {
    color: rgba(0, 0, 0, 0.87);
}
.rcat-text-secondary {
    color: rgba(0, 0, 0, 0.6);
}
.rcat-text-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.rcat-box-shadow-1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-3 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-6 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-12 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
        0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.rcat-box-shadow-20 {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
