// light mode
:root {
    --background-primary: #fff;
    --background-contrast: #000;

    --overlay-0: rgba(0, 0, 0, 0);
    --overlay-1: rgba(0, 0, 0, 0.05);
    --overlay-2: rgba(0, 0, 0, 0.07);
    --overlay-3: rgba(0, 0, 0, 0.08);
    --overlay-3: rgba(0, 0, 0, 0.09);
    --overlay-6: rgba(0, 0, 0, 0.11);
    --overlay-8: rgba(0, 0, 0, 0.12);
    --overlay-12: rgba(0, 0, 0, 0.14);
    --overlay-16: rgba(0, 0, 0, 0.15);
    --overlay-24: rgba(0, 0, 0, 0.24);

    --text-primary: rgba(0, 0, 0, 0.87);
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-disabled: rgba(0, 0, 0, 0.38);

    --divider: rgba(0, 0, 0, 0.12);

    --action-active: rgba(0, 0, 0, 0.16);
    --action-hover: rgba(0, 0, 0, 0.08);
    --action-disabled: rgba(0, 0, 0, 0.3);
    --action-disabled-background: rgba(0, 0, 0, 0.12);
    --action-focus: rgba(0, 0, 0, 0.12);
    --action-selected: rgba(0, 0, 0, 0.16);

    --box-shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --box-shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --box-shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    --box-shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --box-shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --box-shadow-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
        0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    --box-shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    --box-shadow-20: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

// dark mode
// :root {
//     --background-primary: #000;
//     --background-contrast: #fff;

//     --overlay-0: rgba(255, 255, 255, 0);
//     --overlay-1: rgba(255, 255, 255, 0.05);
//     --overlay-2: rgba(255, 255, 255, 0.07);
//     --overlay-3: rgba(255, 255, 255, 0.08);
//     --overlay-3: rgba(255, 255, 255, 0.09);
//     --overlay-6: rgba(255, 255, 255, 0.11);
//     --overlay-8: rgba(255, 255, 255, 0.12);
//     --overlay-12: rgba(255, 255, 255, 0.14);
//     --overlay-16: rgba(255, 255, 255, 0.15);
//     --overlay-24: rgba(255, 255, 255, 0.24);

//     --text-primary: rgba(255, 255, 255, 0.87);
//     --text-secondary: rgba(255, 255, 255, 0.6);
//     --text-disabled: rgba(255, 255, 255, 0.38);

//     --divider: rgba(255, 255, 255, 0.12);

//     --action-hover: rgba(255, 255, 255, 0.08);
//     --action-disabled: rgba(255, 255, 255, 0.3);
//     --action-disabled-background: rgba(255, 255, 255, 0.12);
//     --action-focus: rgba(255, 255, 255, 0.12);
//     --action-selected: rgba(255, 255, 255, 0.16);

//     --box-shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
//         0px 1px 3px 0px rgba(0, 0, 0, 0.12);
//     --box-shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
//         0px 1px 5px 0px rgba(0, 0, 0, 0.12);
//     --box-shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
//         0px 1px 8px 0px rgba(0, 0, 0, 0.12);
//     --box-shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
//         0px 1px 10px 0px rgba(0, 0, 0, 0.12);
//     --box-shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
//         0px 1px 18px 0px rgba(0, 0, 0, 0.12);
//     --box-shadow-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
//         0px 3px 14px 2px rgba(0, 0, 0, 0.12);
//     --box-shadow-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
//         0px 5px 22px 4px rgba(0, 0, 0, 0.12);
//     --box-shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
//         0px 6px 30px 5px rgba(0, 0, 0, 0.12);
//     --box-shadow-20: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
//         0px 9px 46px 8px rgba(0, 0, 0, 0.12);
// }
