* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--background-default);
}

@media (hover: none) {
    * {
        cursor: none !important;
    }
}
